<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rúbricas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>  
      <ion-item *ngFor="let rubric of Rubricas">
        <ion-label text-wrap>
          {{rubric.nombre}}
        </ion-label>
        <ion-button button [routerLink]="['/rubrica-detail',rubric.id]" color="secondary">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button (click)="presentAlertConfirm(rubric.id)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/agregar-rubrica">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
